<!-- src/app/registration/registration.component.html -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="card-title mb-0">Update Employee Details Form</h4>
        </div>
        <div class="card-body">
          <form #employeeForm="ngForm" (ngSubmit)="onUpdate(employeeForm)">
            <div class="mb-3">
              <!-- <label for="name" class="form-label">User Id:</label> -->
              <input type="hidden" id="id" name="id" [(ngModel)]="employee.id" required class="form-control" >
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" id="name" name="name" [(ngModel)]="employee.name" required class="form-control" >
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="employee.email"  required  class="form-control">
            </div>
            <div class="mb-3">
              <label for="contact" class="form-label">Contact:</label>
              <input type="text" id="contact" name="contact" [(ngModel)]="employee.contact"  required  class="form-control">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" [(ngModel)]="employee.password"  required  class="form-control">
            </div>
            <div class="mb-3">
              <label for="image_url" class="form-label">Image URL:</label>
              <input type="text" id="image_url" name="image_url" [(ngModel)]="employee.image_url"   class="form-control">
            </div>
            <div >
            <!-- <button  type="submit" class="btn btn-success w-100">Update</button>
            <button type="button" class="btn btn-primary w-100">Back</button> -->
            <button style="margin-right: 5px;" type="submit" class="btn btn-outline-success">Update</button>
            <button type="button" (click)="onBackKey()" class="btn btn-outline-primary">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
