/* src/app/registration/registration.component.css */
.container {
    margin-top: 50px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f85873;
    color: white;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #f85873;;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  