<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Employee Registration Form</h4>
      </div>
      <div class="card-body border-top">
        <form (ngSubmit)="onSubmit()">
          <label for="name">UserName : </label>
          <input type="text" placeholder="Enter your name here" name="name" id="name"/>

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>