<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Top Employees</h4>
                <h5 class="card-subtitle">Overview of the Top Employees</h5>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Employee Name</th>
                        <th class="text-dark font-medium fs-4">Email Address</th>
                        <th class="text-dark font-medium fs-4">Password</th>
                        <th class="text-dark font-medium fs-4">Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of employee | slice:0:4'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]=ts.image_url alt="user" width="45" class="rounded-circle">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.name}}</h5>
                                    <!-- <span class="text-muted">{{ts.email}}</span> -->
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{ts.email}}</td>
                      <td class="fs-4">{{ts.password}}
                          <!-- <span class="p-2 bg-{{ts.password}} rounded-circle d-inline-block ms-3"></span> -->
                      </td>
                      <td class="fs-4">{{ts.contact}}</td>
                    </tr>              
                </tbody>
            </table>
            <a href="/component/table"><button class="btn btn-info">All Employee</button></a>
        </div>
    </div>
    
</div>